{% from '../../components/header/header.html' import header %}
{% from '../../components/overlay/overlay.html' import overlay %}

<!DOCTYPE html>
<html lang="nl" dir="ltr">

  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="FestiVibe Dating">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="disabled-adaptations" content="watch">

    <title>Title of setup</title>

    <link rel="stylesheet" href="/assets/css/styles-747e4e0245.min.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#ea773a">
    <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

  </head>

  <body class="{{ bodyClass }}">

    {% call header() %}

    {% include '../../components/navigation/navigation.html' %}

    {% endcall %}

    <main id="content" role="main">

      {% block content %}

        <!-- content will be injected in this block -->

      {% endblock %}

    </main>

    {{ overlay({ class: overlayClass }) }}

    {% if environment == 'local' %}
      <script type="module" async="async" src="/assets/js/main-es-68b329da98.js"></script>
    {% else %}
      <script type="module" async="async" src="/assets/js/main-es.min.js"></script>
      <script nomodule="nomodule" async="async" src="/assets/js/main.min.js"></script>
    {% endif %}

  </body>

</html>
